.todo-list__list-item__item {
  display: flex;
  align-items: center;

  padding: 0 20px;

  border-bottom: 1px solid #eee;
  color: gray;
}

.todo-list__list-item__item:hover {
  background: #f8f8f8;
}

.todo-list__list-item__item h6 {
  width: 90%;
}

.todo-list__list-item__item input {
  width: 10%;
  cursor: pointer;
}
