header {
  /* Size */
  height: 5vh;
  width: 100vw;

  /* Display */
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Block */
  padding: 10px 30px;

  /* Color */
  background: white;
  color: gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
}
