.todo-list {
  height: 600px;
  width: 500px;

  padding: 50px 30px;

  background: white;
  border-radius: 20px;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
}

.todo-list__title {
  letter-spacing: 2px;

  margin: 5px 0;
}

.todo-list__title--main {
  color: rgba(0, 0, 0, 0.7);
}

.todo-list__title--sub {
  color: rgba(0, 0, 0, 0.4);
}

.todo-list__list-item {
  height: 300px;

  overflow: auto;

  padding: 10px 0;

  border: 1px solid #eee;
}
