.content {
  /* Size */
  width: 85%;
  height: 100vh;

  /* Display */
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* Block (padding, margin) */

  /* Color */
  background: #eee;
}
