.todo-list__toolbar {
  display: flex;

  margin: 5px 0;
  padding: 0;

  list-style: none;
}

.todo-list__toolbar li {
  margin-right: 20px;
}

.todo-list__toolbar li button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background: none;
  border: 0;
  outline: none;
}

.todo-list__toolbar li button:hover {
  color: rgba(0, 0, 0, 0.8);
}
